.body{
  background-color: #f5f6fa; 
  font-family: sans-serif; 
}

.lv_proj{
  text-align: center; 
}

#mnP{ 
  font-size: 100px; 
  color: #7f8fa6; 
  text-shadow: 2px 2px #7f8fa6; 
}

.fl_job{
  float: left; 
}

