*{
    background-color: #222f3e; 
    font-family: 'Lilita One', cursive;
}

.intro_pic{ 
    height: 1000px; 
    margin: auto; 
    width: 30%; 
}

#prof_pic{
    border-radius: 15px 50px 30px 5px;
    height: 700px; 
    width: 450px;
}

.name{
    font-size: 2em; 
    text-align: center; 
    color: #c8d6e5; 
}

.summary{
    font-size: 2em; 
    text-align: center; 
    color: #c8d6e5;    
    height: 500px; 
}
